<h1>Editing your application</h1>

<%= render "edit", application: @application %>

<br>

<div>  
  <%= link_to "Back to your applications", applications_path, class:"btn btn-outline-secondary my-3" %>
</div>
