<h1>Editing your application</h1>

<%= render "edit", application: @application %>

<br>

<div>
  <%#= link_to "Show this application", @application %> |
  <%= link_to "Back to your applications", applications_path %>
</div>
