<%= render 'applications/application' %>

<div>
  <%= link_to "Edit this applicaton", edit_applicaton_path(@applicaton) %> |
  <%= link_to "Back to applicaton", applicatons_path %>

  <%= button_to "Destroy this applicaton", @applicaton, method: :delete %>
</div>