<div id="<%= dom_id job %>">
  <div class="card">
    <h5 class="card-header"><%= job.title %></h5>
    <div class="card-body">    
      <p class="card-text"><%= job.description %></p>    
    </div>
  </div>
</div>



